In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
data = {
    'mesin' : [1000,2000,3000,4000,5000],
    'harga' : [10,25,35,55,80]
}
df =pd.DataFrame(data)
df

   mesin  harga
0   1000     10
1   2000     25
2   3000     35
3   4000     55
4   5000     80

# Harga Prediksi

In [5]:
model = linear_model.LinearRegression()
model.fit(df[['mesin']],df['harga'])

df['Harga_Prediksi'] =model.predict(df[['mesin']])
df

   mesin  harga  Harga_Prediksi
0   1000     10             7.0
1   2000     25            24.0
2   3000     35            41.0
3   4000     55            58.0
4   5000     80            75.0

# EVALUATION MATRICS

# Max Error

In [6]:
from sklearn.metrics import max_error
max_error (df['harga'],df['Harga_Prediksi'])

6.0

# MAE DAN MSE

In [15]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
print ("MAE : ",
round (mean_absolute_error (df['harga'],df['Harga_Prediksi']),2))
print ("MSE : ",
round (mean_squared_error (df['harga'],df['Harga_Prediksi']),2))
print ("RMSE : ",
np.sqrt(round (mean_squared_error (df['harga'],df['Harga_Prediksi']),2)))

MAE :  3.6
MSE :  16.0
RMSE :  4.0

# MedAE

In [3]:
from sklearn.metrics import median_absolute_error
print ("MedAE : ",
round (median_absolute_error (df['harga'],df['Harga_Prediksi']),2))

NameError: name 'df' is not defined

# MSLE & RMSLE

In [1]:
from sklearn.metrics import mean_squared_log_error
print ("MSLE : ",
round (mean_squared_log_error(df['harga'],df['Harga_Prediksi']),2))

from sklearn.metrics import mean_squared_log_error
print ("RMSLE : ",
np.sqrt(round (mean_squared_log_error (df['harga'],df['Harga_Prediksi']),2)))

NameError: name 'df' is not defined

# R2 SCORE

In [21]:
from sklearn.metrics import r2_score
print ("R2 SCORE : ",
round ( r2_score (df['harga'],df['Harga_Prediksi']),2))

R2 SCORE :  0.97